<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding reset-password-container">
  <div class="card">
    <h2>Reset Password</h2>
    <p>Type your new password to recover your account.</p>

    <form (ngSubmit)="resetPassword()">
      <!-- Champ Password -->
      <div class="input-group">
        <ion-input
          [(ngModel)]="newPassword"
          name="newPassword"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="New Password"
          required
        ></ion-input>
        <ion-icon name="eye" (click)="togglePassword()"></ion-icon>
      </div>
    
      <!-- Champ Confirm Password -->
      <div class="input-group">
        <ion-input
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          [type]="showConfirmPassword ? 'text' : 'password'"
          placeholder="Confirm Password"
          required
        ></ion-input>
        <ion-icon name="eye" (click)="toggleConfirmPassword()"></ion-icon>
      </div>
    
      <ion-button expand="full" type="submit">Update Password</ion-button>
    </form>
    
  </div>
</ion-content>
