.reset-password-container {
  --background: none;
  background: linear-gradient(to right, #000000b3, #00000000);
  background-size: contain;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: 0 5%;
}

.card {
  width: 120%;
  max-width: 450px;
  background: #fff;
  padding: 3.1rem;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 75vh;
  overflow: hidden;
  margin: 35px; /* Center the container horizontally */
  margin-left: 90px;
}
@media (min-width: 769px) {
  .card  {
    margin-left: 10%; /* Déplace vers la gauche */
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .card  {
    padding: 1rem;
    max-width: 90%;
    max-height: 90vh;
    margin-top: 30px;
    width: 120%;
    margin-left: 20px;
  }}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 1rem;
}

ion-item {
  --border-radius: 10px;
  margin-bottom: 1rem;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}

ion-input {
  --padding-start: 10px;
  --padding-end: 10px;
}

.reset-btn {
  --background: #9893f4;
  --border-radius: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

ion-button {
  --background: #9893f4;
  --color: white;
  --border-radius: 10px;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  transition: background 0.3s ease-in-out;

  

  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
  }
}

.back-to-login {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #a38cd6;
  text-decoration: none;
  font-weight: bold;
}

.back-to-login:hover {
  text-decoration: underline;
}

.background-image {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%; /* Réduire la taille sur les grands écrans */
  height: auto;
  opacity: 0.8;
  pointer-events: none; /* Empêche l’image d'interférer avec les clics */
  z-index: -1;
  mix-blend-mode: multiply;
}

/* Ajustement pour les écrans de petite taille (mobile) */
@media (max-width: 768px) {
  .background-image {
    width: 90%;
    opacity: 0.6;
    margin-left: 100px; ;
  }

 
}

/* Ajustement pour les écrans moyens et grands (tablettes, bureau, etc.) */
@media (min-width: 769px) {
  .background-image {
    width: 45%; /* Ajuste encore plus pour les grands écrans */
    opacity: 0.8;

  }
  .back-button {
  position: absolute;
  top: 16px;
  left: 16px;
}

.arrow-image {
  width: 24px;
  height: 24px;
}

}

