<ion-content class="ion-padding reset-password-container">
  <div class="card">
    <h2>Reset Password</h2>
    <p>Type your new password to recover your account.</p>

    <form (ngSubmit)="resetPassword()">
      <!-- Email (Lecture seule) -->
      <ion-item lines="none" class="input-group">

        <ion-input
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="Email"
          readonly
        ></ion-input>
      </ion-item>

      <!-- New Password -->
      <ion-item lines="none" class="input-group">

        <ion-input
          [(ngModel)]="newPassword"
          name="newPassword"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="New Password"
          required
        ></ion-input>
        <ion-icon name="eye" slot="end" (click)="togglePassword()"></ion-icon>
      </ion-item>

      <!-- Confirm Password -->
      <ion-item lines="none" class="input-group">
        
        <ion-input
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          [type]="showConfirmPassword ? 'text' : 'password'"
          placeholder="Confirm Password"
          required
        ></ion-input>
        <ion-icon name="eye" slot="end" (click)="toggleConfirmPassword()"></ion-icon>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="newPassword !== confirmPassword || !newPassword || !confirmPassword">
        Update Password
      </ion-button>
    </form>
  </div>
</ion-content>
