<ion-header>
  <ion-toolbar class="navbar-custom">
    <!-- Logo -->
    <ion-buttons slot="start">
      <ion-button (click)="Homeuser()">
        <ion-img src="assets/icon/Logo2.png" style="height: 50px; width: auto;"></ion-img>
      </ion-button>
    </ion-buttons>

    <!-- Navigation -->
    <div class="navbar-center">
      <ion-buttons class="nav-links">
        <ion-button (click)="isAuthenticated ? Homeuser() : Home()">Home</ion-button>
        <ion-button (click)="History()">History</ion-button>
        <ion-button (click)="Contact()">How it Works</ion-button>
      </ion-buttons>
    </div>

    <!-- Right: Logout + Welcome -->
    <ion-buttons slot="end" class="navbar-right">
      <ion-button *ngIf="isAuthenticated" (click)="logout()" class="logout-btn">Logout</ion-button>
      <span class="welcome">Welcome {{username}}</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="main-content" (click)="closeDropdownOnOutsideClick($event)">
    <ion-card>
      <ion-card-header>
        <div class="header-inline">
          <ion-card-title class="title-text">Transcribed Text</ion-card-title>

          <div class="header-buttons">
            <ion-button fill="clear" (click)="toggleDropdown($event)">
              <ion-icon name="menu-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="copyText()">
              <ion-icon name="copy-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content class="text-zone">
        <div class="textarea-wrapper">
          <ion-textarea
            *ngIf="isEditing"
            [(ngModel)]="transcribedText"
            autoGrow="true"
            class="edit-area"
            (ionInput)="adjustTextareaHeight()"
          ></ion-textarea>
          <ion-text *ngIf="!isEditing">
            {{ translatedText ? translatedText : transcribedText }}
          </ion-text>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- MENU DEROULANT -->
    <div class="dropdown-container" *ngIf="dropdownOpen">
      <ion-list class="dropdown">
        <ion-item (click)="toggleSubmenu('translate')">
          <ion-icon slot="start" name="language-outline"></ion-icon>
          <ion-label>Translate</ion-label>
        </ion-item>
        <ion-list *ngIf="translateMenuOpen" class="submenu">
          <ion-item (click)="translateAndReset(transcribedText, 'en')">English</ion-item>
          <ion-item (click)="translateAndReset(transcribedText, 'fr')">French</ion-item>
          <ion-item (click)="translateAndReset(transcribedText, 'es')">Spanish</ion-item>
          <ion-item (click)="translateAndReset(transcribedText, 'de')">German</ion-item>
        </ion-list>

        <ion-item (click)="toggleSubmenu('summarize')">
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-label>Summarize</ion-label>
        </ion-item>
        <ion-list *ngIf="summarizeMenuOpen" class="submenu">
          <ion-item (click)="summarizeText(transcribedText, 'large')">Large</ion-item>
          <ion-item (click)="summarizeText(transcribedText, 'medium')">Medium</ion-item>
          <ion-item (click)="summarizeText(transcribedText, 'small')">Small</ion-item>
        </ion-list>

        <ion-item (click)="toggleEditMode()">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          <ion-label>Edit</ion-label>
        </ion-item>

        <ion-item (click)="saveCurrentText()">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          <ion-label>Save</ion-label>
        </ion-item>

        <ion-item (click)="toggleSubmenu('download')">
          <ion-icon slot="start" name="download-outline"></ion-icon>
          <ion-label>Download</ion-label>
        </ion-item>
        <ion-list *ngIf="downloadMenuOpen" class="submenu">
          <ion-item (click)="downloadFile('pdf')">Download PDF</ion-item>
        </ion-list>

        <ion-item (click)="openModal()">
          <ion-icon slot="start" name="share-social-outline"></ion-icon>
          <ion-label>Share</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer class="foot">
  <ion-toolbar>
    <ion-title class="ion-text-center">© 2025 Recapify Inc. All rights reserved.</ion-title>
  </ion-toolbar>
</ion-footer>
