/* Styling for ion-content */
ion-content {
  --background: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), 
  url("/assets/background/Mobile-login-Cristina.jpg") no-repeat right center;
  background-size: contain;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: 0 5%;
}


/* Styling for the form container */
.form-container {
  width: 100%; /* Full width of its parent container */
  max-width:480px;
  height: 450px;
  background: #fff;
  padding: 2.3rem;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 80vh;
  overflow: hidden;
  margin: 50px; /* Ensure the container is centered */
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #666;
}


/* Centering the ion-item elements */
ion-item {
  --border-radius: 10px;
  --border-color: #ccc;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure items fill the width of the container */
}

/* Link to login page */
.back-to-login a {
  color: #6a5acd;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    text-decoration: underline;
  }
}

/* sign up button*/
ion-button {
  --background: rgba(27, 207, 153, 0.719);
  --color: white;
  --border-radius: 10px;
  font-size: 1.1rem;
  padding-left: 60px;
  transition: 0.3s ease-in-out;
  width: 100%; /* Ensure button spans full width */

  &:hover {
    --background: #5a4db6;
  }

  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
  }
}
