<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <h2>Create Account</h2>
    <p>Sign up and have your reservation</p>

    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="user.name" placeholder="Full Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="user.email" type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="user.password" type="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="signup()">Sign Up</ion-button>
    
    <p class="back-to-login">Already have an account? 
      <a (click)="backlogin()">login</a>
    </p>
    
  </div>
</ion-content>
