<ion-content class="ion-padding">
  <div class="form-container">
    <a (click)="Home()" style="position: relative; display: block; text-align: center; margin-top: 30px; margin-bottom: 30px;">
      <ion-img 
        src="assets/icon/left.png" 
        style="position: absolute; left: 25px; top: 50%; transform: translateY(-50%); height: 30px; width: auto;">
      </ion-img>
      <ion-img 
        src="assets/icon/Logo2.png" 
        style="height: 50px; width: auto;">
      </ion-img>
    </a>

    <!-- Full Name Input -->
    <ion-item>
      <ion-input
        [(ngModel)]="user.name"
        placeholder="Full Name"
        required
      ></ion-input>
    </ion-item>

    <!-- Email Input -->
    <ion-item>
      <ion-input
        [(ngModel)]="user.email"
        type="email"
        placeholder="Email"
        required
      ></ion-input>
    </ion-item>

    <!-- Password Input -->
    <ion-item>
      <ion-input
        [(ngModel)]="user.password"
        type="password"
        placeholder="Password"
        required
      ></ion-input>
    </ion-item>

    <!-- Sign Up Button -->
    <ion-button
      expand="full"
      (click)="signup()"
      [disabled]="!user.name || !user.email || !user.password"
    >
      Sign Up
    </ion-button>

    <!-- Google Sign-In Button Container -->
    <div id="googleSignInButton" class="google-signin-container"></div>

    <!-- Login Link -->
    <p class="back-to-login">
      Already have an account?
      <a (click)="backlogin()">Login</a>
    </p>
  </div>
  <ion-img src="assets/background/signup.png" class="background-image"></ion-img>
</ion-content>
