<ion-list class="popover-menu">
  <!-- Translate -->
  <ion-item button (click)="toggleSubmenu('translate')" class="menu-item">
    <ion-icon slot="start" name="language-outline"></ion-icon>
    <ion-label>Translate</ion-label>
    <ion-icon slot="end" [name]="translateMenuOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
  </ion-item>
  <div *ngIf="translateMenuOpen" class="horizontal-submenu">
    <ion-chip button (click)="selectAction('translate-es')" class="submenu-chip">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>Spanish</ion-label>
    </ion-chip>
    <ion-chip button (click)="selectAction('translate-fr')" class="submenu-chip">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>French</ion-label>
    </ion-chip>
    <ion-chip button (click)="selectAction('translate-it')" class="submenu-chip">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>Italian</ion-label>
    </ion-chip>
    <ion-chip button (click)="selectAction('translate-de')" class="submenu-chip">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>German</ion-label>
    </ion-chip>
    <ion-chip button (click)="selectAction('translate-en')" class="submenu-chip">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>English</ion-label>
    </ion-chip>
    <ion-chip button (click)="selectAction('translate-ar')" class="submenu-chip">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>Arabic</ion-label>
    </ion-chip>
  </div>
  
  <!-- Summarize -->
  <ion-item button (click)="toggleSubmenu('summarize')" class="menu-item">
    <ion-icon slot="start" name="document-text-outline"></ion-icon>
    <ion-label>Summarize</ion-label>
    <ion-icon slot="end" [name]="summarizeMenuOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
  </ion-item>
  <div *ngIf="summarizeMenuOpen" class="horizontal-submenu">
    <ion-chip button (click)="selectAction('summarize-basic')" class="submenu-chip">
      <ion-icon name="contract-outline"></ion-icon>
      <ion-label>Basic</ion-label>
    </ion-chip>
    <ion-chip button (click)="selectAction('summarize-advanced')" class="submenu-chip">
      <ion-icon name="expand-outline"></ion-icon>
      <ion-label>Advanced</ion-label>
    </ion-chip>
   
  </div>
  
  <!-- Autres options -->
  <ion-item button (click)="selectAction('edit')" class="menu-item">
    <ion-icon slot="start" name="create-outline"></ion-icon>
    <ion-label>Edit</ion-label>
  </ion-item>
  
  <ion-item button (click)="selectAction('save')" class="menu-item">
    <ion-icon slot="start" name="save-outline"></ion-icon>
    <ion-label>Save</ion-label>
  </ion-item>
  
  <ion-item button (click)="selectAction('download')" class="menu-item">
    <ion-icon slot="start" name="download-outline"></ion-icon>
    <ion-label>Download</ion-label>
  </ion-item>
  
  <ion-item lines="none" button (click)="toggleShareOptions()" class="menu-item">
    <ion-icon slot="start" name="share-social-outline"></ion-icon>
    <ion-label>Share</ion-label>
    <ion-icon slot="end" [name]="showShareOptions ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
  </ion-item>
  
  <!-- Sous-options de Share -->
  <div *ngIf="showShareOptions" class="horizontal-submenu">
    <ion-chip button (click)="selectAction('share')" class="submenu-chip">
      <ion-icon name="link-outline"></ion-icon>
      <ion-label>URL</ion-label>
    </ion-chip>
    <ion-chip button (click)="openEmailModal()" class="submenu-chip">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Mail</ion-label>
    </ion-chip>
  </div>
</ion-list>