<ion-list>
  <!-- Translate -->
  <ion-item button (click)="toggleSubmenu('translate')">
    <ion-icon slot="start" name="language-outline"></ion-icon>
    <ion-label>Translate</ion-label>
  </ion-item>
  <ion-list *ngIf="translateMenuOpen" class="submenu">
    <ion-item button (click)="selectAction('translate-es')">
      <ion-icon slot="start" name="logo-usd"></ion-icon>
      <ion-label>Spanish</ion-label>
    </ion-item>
    <ion-item button (click)="selectAction('translate-fr')">
      <ion-icon slot="start" name="logo-euro"></ion-icon>
      <ion-label>French</ion-label>
    </ion-item>
    <ion-item button (click)="selectAction('translate-it')">
      <ion-icon slot="start" name="globe-outline"></ion-icon>
      <ion-label>Italian</ion-label>
    </ion-item>
    <ion-item button (click)="selectAction('translate-de')">
      <ion-icon slot="start" name="earth-outline"></ion-icon>
      <ion-label>German</ion-label>
    </ion-item>
    <ion-item button (click)="selectAction('translate-pt')">
      <ion-icon slot="start" name="earth-outline"></ion-icon>
      <ion-label>portugueuse</ion-label>
    </ion-item>
  </ion-list>

  <!-- Summarize -->
  <ion-item button (click)="toggleSubmenu('summarize')">
    <ion-icon slot="start" name="document-text-outline"></ion-icon>
    <ion-label>Summarize</ion-label>
  </ion-item>
  <ion-list *ngIf="summarizeMenuOpen" class="submenu">
    <ion-item button (click)="selectAction('summarize-large')">
      <ion-icon slot="start" name="expand-outline"></ion-icon>
      <ion-label>Large</ion-label>
    </ion-item>
    <ion-item button (click)="selectAction('summarize-medium')">
      <ion-icon slot="start" name="contract-outline"></ion-icon>
      <ion-label>Medium</ion-label>
    </ion-item>
    <ion-item button (click)="selectAction('summarize-small')">
      <ion-icon slot="start" name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>Small</ion-label>
    </ion-item>
  </ion-list>

  <!-- Autres options -->
  <ion-item button (click)="selectAction('edit')">
    <ion-icon slot="start" name="create-outline"></ion-icon>
    <ion-label>Edit</ion-label>
  </ion-item>

  <ion-item button (click)="selectAction('save') ">
    <ion-icon slot="start" name="save-outline"></ion-icon>
    <ion-label>Save</ion-label>
  </ion-item>

  <ion-item button (click)="selectAction('download')">
    <ion-icon slot="start" name="download-outline"></ion-icon>
    <ion-label>Download</ion-label>
  </ion-item>

  <ion-item lines="none" button (click)="toggleShareOptions()">
    <ion-icon slot="start" name="share-social-outline"></ion-icon>
    Share
    <ion-icon slot="end" [name]="showShareOptions ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
  </ion-item>

  <!-- Sous-options de Share -->
  <ion-list *ngIf="showShareOptions" class="share-sub-options">
    <ion-item button (click)="selectAction('share')">
      <ion-icon slot="start" name="link-outline"></ion-icon>
      URL
    </ion-item>

    <ion-item (click)="openEmailModal()">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
     Mail
    </ion-item>
  </ion-list>

</ion-list>
