<ion-content class="ion-padding">
  <div class="login-container">
    <a (click)="Home()" style="position: relative; display: block; text-align: center; margin-top: 30px; margin-bottom: 30px;">

     
      <ion-img 
        src="assets/icon/left.jpeg" 
        style="position: absolute; left: 0; top: 50%; transform: translateY(-50%); height: 30px; width: auto;">
      </ion-img>
    
      
      <ion-img 
        src="assets/icon/Logo2.png" 
        style="height: 50px; width: auto;">
      </ion-img>
    </a>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <!-- Email Input -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          #emailField="ngModel"
        ></ion-input>
      </ion-item>
      <div *ngIf="emailField.invalid && emailField.touched" class="error-text">
        Email is required.
      </div>

      <!-- Password Input -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          #passwordField="ngModel"
        ></ion-input>
      </ion-item>
      <div *ngIf="passwordField.invalid && passwordField.touched" class="error-text">
        Password is required.
      </div>

     

      <!-- Error Message -->
      <p *ngIf="errorMessage" class="error-text">
        {{ errorMessage }}
      </p>

      <!-- Login Button -->
      <ion-button
        expand="full"
        type="submit"
        [disabled]="isLoading || loginForm.invalid">
        <div *ngIf="isLoading">
          <ion-spinner></ion-spinner>
        </div>
        <span *ngIf="!isLoading">Login</span>
      </ion-button>

      <!-- Forgot Password Link -->
      <p class="forgot-password">
        <a (click)="forgotPassword()">Having issues with your password?</a>
      </p>

      <!-- Back to Sign Up Link -->
      <p class="back-to-signup">
        Don't have an account? <a (click)="backsignup()">Sign Up</a>
      </p>
    </form>
  </div>
  <ion-img src="assets/background/login-removebg-preview.png" class="background-image"></ion-img>
</ion-content>
