/* Styling for ion-content */
ion-content {
  --background: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
              url("/assets/background/3094352.jpg") no-repeat right center;
  background-size: contain;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 100vh;
  position: relative;
  padding: 0 15px; /* Padding to keep content from touching the edges */
  box-sizing: border-box;
}

/* Container for the login form */
.login-container {
  width: 100%; /* Full width of its parent container */
  max-width: 450px;
  height: 465px;
  background: #fff;
  padding: 1.5rem;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 80vh;
  overflow: hidden;
  margin: 75px; /* Ensure the container is centered */
}

/* Wrapper for the form */
.form-wrapper {
  width: 100%; /* Ensures the form takes up the full container width */
  display: flex;
  flex-direction: column; /* Stack form elements vertically */
  justify-content: flex-start;
  gap: 1rem; /* Adds spacing between form fields */
}

/* Prevent image from taking up too much space */
.image-container {
  width: 50%;
  height: 100vh;
  background: url("/assets/background/3094352.jpg") no-repeat right center;
  background-size: contain;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.back-button:hover {
  background: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}

.back-icon {
  width: 30px;
  height: 30px;
  filter: blur();
}

/* Button styling */
ion-button {
  --background: rgba(27, 207, 153, 0.719);
  --border-radius: 10px;
  --color: white;
  width: 100%;
  font-size: 1rem;
  padding: 12px;
  transition: all 0.3s ease-in-out;

  &:hover {
    --background: #9370db;
    transform: translateY(-2px);
  }

  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
    transform: none;
  }

}
